[submodule "tools/XenonRecomp"]
	path = tools/XenonRecomp
	url = https://github.com/hedge-dev/XenonRecomp.git
[submodule "tools/XenosRecomp"]
	path = tools/XenosRecomp
	url = https://github.com/hedge-dev/XenosRecomp.git
[submodule "tools/rexglue-sdk"]
	path = tools/rexglue-sdk
	url = https://github.com/rexglue/rexglue-sdk
